{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}
    {% include 'layout/sidebar.html.twig' %}

    <div class="myContainer">
        <h2>Ajouter un nouveau modèle masculin</h2>
    </div>


    {% include 'layout/onglets.html.twig' %}

        <div class="col">
            <div class="form-group">
                <button class="btn btn-primary button_modele">Ajouter le modèle</button>
            </div>
        </div>

        <a href="{{ path('modele_homme') }}" role="button" class="btn btn-primary button_modele_delete">Annuler</a>

        {{ form_end(form) }}

    </div>
    

{% endblock %}