{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}
    {% include 'layout/sidebar.html.twig' %}

    <div class="myContainer">
        <h2>Modifier un modèle féminin</h2>
    </div>


    {% include 'layout/onglets.html.twig' %}

        <div class="col">
            <div class="form-group">
                <button class="btn btn-primary button_modele">Enregistrer</button>
            </div>
        </div>

        <a href="{{ path('modele_femme') }}" role="button" class="btn btn-primary button_modele_delete">Annuler</a>
        
        {{ form_end(form) }}
        
    </div>
    

{% endblock %}