body {
    background-color: lightgray;
}

.login-input > input
{
    width: 700px;
}

.myContainer
{
    margin-right: 100px;
    margin-left: 300px;
    margin-top: 100px;
}

.navigation
{
    background-color: #A48B6D;
    height: 60px;
    z-index: 1;
}

.hello, .modele
{
    font-size: 20px;
    color: white;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  }

.text-welcome
{
    padding-top: 150px;
    font-size: 25px;
    color: white;
}

.col-femme
{
    background-color: #B87596;
    border: thick double white;
    color: white;
    font-size: 25px;
}

.col-homme
{
    background-color: #87ABED;
    border: thick double white;
    color: white;
    font-size: 25px;
}

.dashboard
{
    margin-top: 150px;
    justify-content: center;
}

.title_women
{
    margin-bottom: 100px;
}

.table
{
    margin-top: 100px;
}

.table_women
{
    background-color: #B87596;
    color: white;
}

.table_men
{
    background-color: #87ABED;
    color: white;
}

.table_user
{
    background-color: #666666;
    color: white;
}

tbody
{
    background-color: white;
}

.button_modele
{
    background-color: #A48B6D;
    border-color: #A48B6D;
    float: right;
}

.button_modele_delete
{
    background-color: #808080;
    border-color: #808080;
    float: right;
    margin-right: 10px;
}

.button_modele_delete:hover
{
    background-color: #808080;
    border-color: #808080;
}

.button_modele:hover
{
    background-color: #725a3e;
    border-color: #725a3e;
}

.input-search
{
    width: 110px;
}

.col > .form-group > input
{
    width: 100%;
}

.container-add-modele
{
    margin-right: 50px;
    margin-left: 300px;
    margin-top: 100px;
}

.page-link
{
    color: white;
    background-color: #A48B6D;
}

.page-link:hover
{
    color: white;
    background-color: #725a3e;
}

.login
{
    margin-top: 150px;
}

.form-control-sm
{
    width: 300px;
   
}

.col-address
{
    margin-top: 75px;
}

.col-image
{
    margin-top: 150px;

}



